body{
    
    min-height: 100vh;
    background-image:url('/front_end/login/login_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}